* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  height: 100%;
  background-image: url("../images/fondo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.indexlogo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 30%;
  margin: auto;
}
.indexlogo-image {
  display: block;
  width: 100%;
  height: auto;
}
.indexlogo:hover {
  transition: opacity 0.3s ease;
  opacity: 0.3;
}

.gallery img {
  border-radius: 5px;
  transition: transform 0.1s ease;
}
.gallery img:hover {
  transform: scale(1.25);
}

.main-about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 180px);
  padding: 2rem;
  text-align: center;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.about-me-profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.about-me-content {
  text-align: left;
}

.about-me-name {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.about-me-info {
  font-size: 1rem;
  line-height: 1.6;
}

@media (min-width: 768px) {
  .about-me {
    flex-direction: row;
    text-align: left;
  }
  .about-me-profile-pic {
    margin-right: 2rem;
    margin-bottom: 0;
  }
  .about-me-content {
    max-width: 500px;
  }
}
.navbar-brand img {
  width: 60px;
}

.nav-link:hover {
  color: #ffbb00 !important;
  transition: opacity 0.3s ease;
  opacity: 0.5;
  background-color: #f3f3f3;
}

.nav-item {
  font-weight: bold;
}

.main-formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 180px);
}

.formulario {
  max-width: 600px;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
}
.formulario-title {
  text-align: center;
}
.formulario-form {
  margin-top: 20px;
}
.formulario-field {
  margin-bottom: 20px;
}
.formulario-label {
  display: block;
  margin-bottom: 5px;
}
.formulario-input, .formulario-textarea {
  width: 97%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.formulario-button {
  background-color: #000000;
  color: #f0f0f0;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.formulario-button:hover {
  background-color: #ccc;
}

.footer {
  padding: 20px;
  width: 100%;
  margin-top: auto;
}
.footer-social-media {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-icon {
  width: 35px;
  height: auto;
}
.footer-icon:hover {
  transition: opacity 0.3s ease;
  opacity: 0.3;
}
.footer-copyright {
  font-size: 16px;
}

.content-section {
  border-radius: 5px;
  padding: 2rem;
  max-width: 550px;
  width: 100%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  background: white;
}

.content-title {
  text-align: center;
}

.form-edad {
  display: grid;
  grid-auto-columns: minmax(100%, 1fr);
  justify-content: center;
  gap: 1rem;
}

.tattoo-form {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: minmax(100%, 1fr);
  background-color: #f0f0f0;
  color: black;
}

.tattoo-options {
  display: grid;
  grid-template-columns: minmax(100%, 1fr);
}

.tattoo-form .button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tattoo-form .button:hover {
  background-color: #ccc;
}

.tattoo-form .button-minimo {
  padding: 10px 20px;
  background-color: rgb(211, 211, 211);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tattoo-form .button:hover {
  background-color: #ccc;
}

.button-fecha {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-fecha:hover {
  background-color: #ccc;
}

.button-reservar {
  background-color: black;
  color: white;
  border: none;
  margin-top: 1rem;
  padding: 10px 20px;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-reservar:hover {
  background-color: #ccc;
}

#confirmarReservaBtn {
  background-color: black;
}

.totalCost {
  color: rgb(63, 252, 142);
  font-weight: 400;
}

@media (max-width: 600px) {
  .content-section {
    padding: 1rem;
  }
  .tattoo-form {
    padding: 10px;
  }
}

/*# sourceMappingURL=main.css.map */
